*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
  font-weight: normal;
  color: #fff;
  background-image: linear-gradient(to right top, #060606, #050504, #030303, #000000);
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  flex-shrink: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input {
  outline: none;
  border: none;
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

.container {
  width: 130rem;
  margin: 0 auto;
}

.button {
  border-radius: 5rem;
  padding: 1rem 3rem;
  color: #fff;
}

.header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  padding: 4rem 11rem 4rem 8rem;
  z-index: 10;
}
.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__menu {
  display: flex;
  align-items: center;
}
.header__nav a:not(:last-child) {
  margin-right: 7.1rem;
}
.header__nav a {
  font-size: 1.6rem;
  line-height: 150%;
}

.header__logo {
  display: block;
  width: 4rem;
  height: 4rem;
}

.header__button {
  margin-left: 55.3rem;
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
  font-size: 1.6rem;
  line-height: 150%;
}
.main-display__background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.main__display {
  padding-top: 27rem;
}

.main__display .container {
  position: relative;
  z-index: 10;
  padding-bottom: 22.8rem;
}

.main-display__header {
  max-width: 76rem;
  font-size: 6.4rem;
  margin-bottom: 5rem;
  font-weight: 700;
  line-height: 140%;
}

.main-display__timer {
  display: flex;
  margin-bottom: 7.6rem;
}

.timer__item {
  width: 10.2rem;
  height: 11.2rem;
  background-color: #121212;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.timer__item:not(:last-child) {
  margin-right: 3rem;
}
.timer_count {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 140%;
}
.timer__text {
  font-size: 1.6rem;
  line-height: 140%;
  opacity: 0.4;
}

.main-display__button {
  background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
  font-size: 1.6rem;
  line-height: 150%;
}

.work {
  padding-top: 20rem;
  padding-bottom: 24.3rem;
}

.work__wrap {
  display: flex;
}

.work__img {
  width: 52.6rem;
  height: 42.9rem;
  margin-right: 13.9rem;
}
.work__text {
  max-width: 63.6rem;
  padding-top: 6.9rem;
}

.work__header {
  margin-bottom: 4.5rem;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 140%;
}

.work__desc {
  font-size: 1.6rem;
  line-height: 160%;
}

.process {
  padding-bottom: 20rem;
}
.process__title {
  display: flex;
}

.process__img {
  width: 9rem;
  height: 4.5rem;
  margin-right: 2rem;
}

.process .process__img {
  transform: rotate(45deg);
}

.process__header {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 140%;
  padding-top: 1rem;
  margin-bottom: 4.9rem;
}

.process__desc {
  max-width: 41.1rem;
  margin-bottom: 8rem;
  font-size: 1.6rem;
  line-height: 160%;
  opacity: 0.5;
}

.process__items {
  display: flex;
}

.process__item {
  max-width: calc(192rem / 4rem);
  display: flex;
  align-items: start;
  flex-direction: column;
}

.process__item__title {
  width: 100%;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
  padding-bottom: 1.5rem;
  margin-bottom: 6.5rem;
  border-bottom: 0.2rem solid #c89afc;
}
.process__item__desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: left;
  padding-right: 1.8rem;
  opacity: 0.5;
}

.command {
  padding-bottom: 20rem;
}

.command__header {
  margin-bottom: 0;
}

.command__title {
  margin-bottom: 11.9rem;
}

.command__wrap {
  display: flex;
  justify-content: space-between;
  padding-left: 11rem;
  padding-right: 11rem;
}

.command__img {
  width: 19rem;
  height: 19rem;
  margin-bottom: 4rem;
  border-radius: 50%;
}

.command__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.command__name {
  margin-bottom: 1.5rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 140%;
}

.command__profession {
  margin-bottom: 3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 160%;
}

.command__link {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
  border: 0.1px solid #fff;
}

.assembly {
  padding-bottom: 24.4rem;
}

.assembly__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.assembly__socials {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
